@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');

.NOutput {
    width: 100%;
    font-family: 'Black Han Sans', sans-serif;
    background-color: #CA6546;
    color: #000;
    font-size: 4rem;
    text-align: center;
    padding: 20px 0;
    box-sizing: border-box;
}

