@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');

body {
    background-color: #8BA4B7;
}

.banner {
    font-family: 'Black Han Sans', sans-serif;
    padding: 20px;
    font-size: 4em;
    background-color: #5D536B;
    color: #fff;
}

